.parent{
    border: 2px solid blue;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}
.child{
    border: 2px solid red;
    text-align: center;
}

@media (max-width: 760px){
    .parent{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 500px){
    .parent{
        grid-template-columns: repeat(2, 1fr);
    }
}